---
import Layout from '@layouts/Layout.astro'
import BlogCard from '@components/BlogCard.astro'
import { getCollection, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true
})

// Sort posts by date if needed
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const groupPostsByYear = () => {
  const postsByYear: Map<number, CollectionEntry<'posts'>[]> = new Map()
  sortedPosts.forEach((post) => {
    const year = new Date(post.data.pubDate).getFullYear()
    if (!postsByYear.has(year)) {
      postsByYear.set(year, [])
    }
    const yearPosts = postsByYear.get(year)
    if (yearPosts) {
      // Check if yearPosts is not undefined
      yearPosts.push(post)
    }
  })
  return postsByYear
}

const postsByYear = groupPostsByYear()

const years = Array.from(postsByYear.keys()).sort((a, b) => b - a)

const getReadingTime = async (post: CollectionEntry<'posts'>) => {
  const { remarkPluginFrontmatter } = await render(post)
  return remarkPluginFrontmatter.minutesRead
}
---

<Layout title='Paul Valladares | Blog' description='Blog of Paul Valladares'>
  <main class='flex flex-col items-center'>
    <div class='w-[320px] md:w-[750px]'>
      <div class='text-white'>
        <h1>Posts</h1>
        <p class='mt-4 text-left'>
          Welcome to my little corner of the web! I write about whatever catches my interest - from coding adventures and tech discoveries to historical mysteries and occasional life musings. No strict schedule, no single topic - just stuff I find cool enough to share. Grab a coffee and have a browse!
        </p>
      </div>
      <div class='my-10'>
        {
          years.map((year) => (
            <div>
              <h2 class='text-neon-green pb-10 pl-2'>{year}</h2>
              <ul>
                {postsByYear.get(year)?.map((post) => (
                  <li>
                    <BlogCard
                      title={post.data.title}
                      description={post.data.description}
                      date={post.data.pubDate}
                      link={`/posts/${post.id}`}
                      readingTime={getReadingTime(post)}
                    />
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </main>
</Layout>
