---
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blogPosts = await getCollection("posts")
  .then((posts) =>
    posts.sort(
      (a, b) =>
        new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    )
  )
  .then((posts) => posts.filter((post) => !post.data.draft));

const getReadingTime = async (post: CollectionEntry<"posts">) => {
  const { remarkPluginFrontmatter } = await post.render();
  return remarkPluginFrontmatter.minutesRead;
};
---

<Layout title="Paul Valladares | Blog" description="Blog of Paul Valladares">
  <main class="flex flex-col items-center">
    <div class="w-[320px] md:w-[750px]">
      <div class="text-white">
        <h1 class="font-bold text-3xl md:text-5xl tracking-tight">Posts</h1>
        <p class="mt-4 text-left">
          I'm gonna use this space to write about my journey as a developer,
          tech projects and my thoughts on the tech industry. I hope you enjoy
          it!
        </p>
      </div>
      <div class="my-10">
        {
          blogPosts.map((post) => (
            <BlogCard
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
              link={`/posts/${post.slug}`}
              readingTime={getReadingTime(post)}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
