---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";

const blogPosts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout
  title="Paul Valladares | Blog"
  description="Blog of Paul Valladares"
  image="/images/bannerOg.png"
>
  <main class="flex flex-col items-center">
    <div class="text-white w-[350px] md:w-[750px]">
      <h1 class="font-bold text-3xl md:text-5xl tracking-tight">Blog</h1>
      <p class="text-gray-400 mt-4 text-left">
        I'm gonna use this space to write about my journey as a developer, tech
        projects and my thoughts on the tech industry. I hope you enjoy it!
      </p>
    </div>
    <div class="my-10">
      {
        blogPosts.map((post) => (
          <BlogCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
            link={post.url}
            readingTime={post.frontmatter.readingTime}
          />
        ))
      }
    </div>
  </main>
</Layout>
