---
import { Icon } from 'astro-icon/components'

type BlogCardProps = {
  title: string
  description: string
  date: string
  link: string
  readingTime: {
    minutesRead: string
  }
}

const { title, description, date, link, readingTime } =
  Astro.props as BlogCardProps
---

<a
  href={link}
  rel='prefetch'
  class='mb-8 flex flex-col gap-y-5 rounded-xl border-2 border-zinc-700 p-4 transition-colors duration-500 hover:border-neon-green'
>
  <h3 class='text-xl font-extrabold text-white md:text-2xl'>{title}</h3>

  <p class='text-sm text-white md:text-base'>{description}</p>

  <div class='flex items-center gap-x-4 text-xs text-neutral-200 md:text-sm'>
    <div class='flex items-center gap-x-2'>
      <Icon name='system-uicons:calendar-month' class='text-neon-green' />
      <time datetime={date}>
        {
          new Date(date).toLocaleDateString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })
        }
      </time>
    </div>
    <div class='flex items-center gap-x-2'>
      <Icon name='system-uicons:clock' class='text-neon-green' />
      <p>{readingTime}</p>
    </div>
  </div>
</a>
