---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import BlogProgressTracker from "../components/BlogProgressTracker.astro";
import DisplayComments from "../components/DisplayComments.astro";

interface BlogPostLayoutProps {
  frontmatter: {
    title: string;
    description: string;
    pubDate: string;
    image: {
      src: string;
      alt: string;
    };
  };
  minutes: {
    minutesRead: string;
  };
}

let { frontmatter, minutes } = Astro.props as BlogPostLayoutProps;

const formattedDate = new Date(frontmatter.pubDate).toLocaleDateString(
  "en-us",
  {
    year: "numeric",
    month: "short",
    day: "numeric",
  }
);

// get all posts
let posts = await getCollection("posts")
  .then((posts) =>
    posts.sort(
      (a, b) =>
        new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    )
  )
  .then((posts) => posts.filter((post) => !post.data.draft));

// get the index of the current post
const index = posts.findIndex((post) => {
  return Astro.request.url.includes(post.slug ?? "");
});

// get the next and previous posts
const nextPost = posts[index + 1];
const prevPost = posts[index - 1];
---

<html lang="en">
  <head>
    <Head title={frontmatter.title} description={frontmatter.description} />
  </head>
  <Navbar display={false} />
  <body>
    <BlogProgressTracker />
    <main class="text-white flex flex-col items-center">
      <div class="w-[350px] md:w-[750px]">
        <h1 class="text-4xl font-bold mb-4">{frontmatter.title}</h1>
        <div class="flex gap-4">
          <p class="text-sm flex items-center">
            <Icon
              name="system-uicons:calendar-month"
              class="text-neon-green mr-2"
            />
            {formattedDate}
          </p>
          <p class="text-sm flex items-center">
            <Icon name="system-uicons:clock" class="text-neon-green mr-2" />
            {minutes.minutesRead}
          </p>
        </div>
        <hr class="mt-5 mb-10" />
        <img
          src={frontmatter.image.src}
          alt={frontmatter.image.alt}
          class="rounded-lg"
        />
        <br />
        <article>
          <slot />
        </article>
      </div>
      <div class="w-[350px] md:w-[750px] mb-10">
        <div class="flex flex-col sm:flex-row mt-10 gap-4 sm:gap-6 w-full">
          {
            prevPost && (
              <a
                href={`/posts/${prevPost.slug}`}
                class="flex flex-col grow text-sm p-4 border rounded border-zinc-700 hover:border-neon-green transition duration-500 ease-out"
              >
                <p class="text-zinc-400 mb-1">&larr; Previous post</p>
                <p class="font-semibold text-zinc-300">{prevPost.data.title}</p>
              </a>
            )
          }
          {
            nextPost && (
              <a
                href={`/posts/${nextPost.slug}`}
                class="flex flex-col grow text-right text-sm p-4 border rounded border-zinc-700 hover:border-neon-green transition duration-500 ease-out"
              >
                <p class="mb-1">Next post &rarr;</p>
                <p class="font-semibold text-zinc-300">{nextPost.data.title}</p>
              </a>
            )
          }
        </div>
      </div>
      <div class="w-[350px] md:w-[750px] mb-10">
        <!-- <DisplayComments /> -->
      </div>
    </main>
  </body>
  <Footer />
</html>
