---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    readingTime: string;
  };
}

let {
  content: { title, description, pubDate, readingTime },
} = Astro.props as Props;

const formattedDate = new Date(pubDate).toLocaleDateString("en-us", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

let posts = await Astro.glob("../pages/blog/*.mdx");
posts = posts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

// get the index of the current post
const index = posts.findIndex((post) => {
  return Astro.request.url.includes(post.url ?? "");
});

// get the next and previous posts
const nextPost = posts[index + 1];
const prevPost = posts[index - 1];

// TODO: Add styles for slots
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <main class="text-white flex flex-col items-center">
      <div class="w-[350px] md:w-[750px] mb-10">
        <h1 class="text-4xl font-bold">{title}</h1>
        <div class="flex gap-x-2">
          <p class="text-sm">{formattedDate}</p>
          <p class="text-sm">{readingTime}</p>
        </div>

        <hr class="my-10" />
        <article>
          <slot />
        </article>
      </div>
      <div class="w-[350px] md:w-[750px] mb-10">
        <div class="flex flex-col sm:flex-row mt-10 gap-4 sm:gap-6 w-full">
          {
            prevPost && (
              <a
                href={prevPost.url + "/"}
                class="flex flex-col grow text-sm p-4 border rounded border-zinc-700 hover:border-teal-500 transition-colors"
              >
                <p class="text-zinc-400 mb-1">&larr; Previous post</p>
                <p class="font-semibold text-zinc-300">
                  {prevPost.frontmatter.title}
                </p>
              </a>
            )
          }
          {
            nextPost && (
              <a
                href={nextPost.url + "/"}
                class="flex flex-col grow text-right text-sm p-4 border rounded border-zinc-700 hover:border-teal-500 transition-colors"
              >
                <p class="text-zinc-400 mb-1">Next post &rarr;</p>
                <p class="font-semibold text-zinc-300">
                  {nextPost.frontmatter.title}
                </p>
              </a>
            )
          }
        </div>
      </div>
      <Footer />
    </main>
  </body>
</html>
