---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
  };
}

const {
  content: { title, description, pubDate },
} = Astro.props;

const { minutesRead } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <Navbar />
    <main class="text-white flex flex-col items-center">
      <div class="w-[350px] md:w-[750px]">
        <h1 class="text-4xl font-bold">{title}</h1>
        <div>
          <p class="text-sm">{pubDate}</p>
          <p class="text-sm">{minutesRead}</p>
        </div>
        <hr class="my-10" />
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
